@model string
<td><a class="fas fa-eye" asp-action="Details" asp-route-id="@Model"></a></td>
<td><a class="fas fa-edit" asp-action="Edit" asp-route-id="@Model"></a></td>
<td><a class="fas fa-trash" asp-action="Delete" asp-route-id="@Model"></a></td>
