@model UserVM

<div>
    <label asp-for="Id">Id</label>
    <input class="form-check" asp-for="Id" readonly />

</div>

<div>
    <label asp-for="Fname">Fname</label>
    <input class="form-control" asp-for="Fname"  />

</div>

<div>
    <label asp-for="LName">LName</label>
    <input class="form-control" asp-for="LName"  />

</div>
<div>
    <label asp-for="Email">Email</label>
    <input class="form-control" asp-for="Email" readonly />

</div>