
@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_AuthLayout1.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
		<p>Check Your In Box </p>

		<p>Don't have an Account? <a asp-action="Register"> Register Now!</a></p>
		<p><a asp-action="ForgetPassword"> Forget Password</a></p>
	</div>
</div>

