@model RoleVM

<div>
    <label asp-for="Id">Id</label>
    <input class="form-check" asp-for="Id"  readonly/>

</div>

<div>
    <label asp-for="Name">Name</label>
    <input class="form-control" asp-for="Name" readonly />

</div>

