@model Department
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>
<form method="post"  asp-action="Create">
    <div>
        <label asp-for="Code">code</label>
        <input class="form-control" asp-for="Code" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="CreatedAt">CreatedAt</label>
        <input class="form-control" asp-for="CreatedAt" />
        <span asp-validation-for="CreatedAt" class="text-danger"></span>

    </div>
    <input type="submit" value="submit" class="btn btn-outline-primary mt-4" />
    <a class=" btn btn-info mt-4" asp-action="index"> back to List</a>

    

</form>

